<link rel="import" href="/views/common/header.html?__inline">
<style type="text/css">
.responsive-wall {overflow: hidden;margin-top: 45px;width: 1000px;margin-bottom: 120px;background: #fff;padding-bottom: 90px;}
.responsive-wall .history-list {overflow: hidden;margin: 0 0 0 140px;}
.responsive-wall .history-list li {float: left;width: 200px;height: auto;margin-right: 60px;margin-top: 50px;height: 226px;}
.responsive-wall .history-list img {width:200px;height: 160px;margin-bottom: 10px;}
.responsive-wall .history-list .desc {text-align: left;font-size: 16px;line-height: 28px;}
</style>
<div class="rd-bg" style="background: url('/assets/imgs/history.jpg') no-repeat center center;"></div>
<div class="container">
    <div class="responsive-wall">
        <ul class="history-list">
            <li>
                <a href="/views/historyArticles/2016_01_zhangJiaJie.html">
                    <img src="/assets/imgs/service_2016_01.jpg" alt="">
                    <p class="desc">2016年1月湖南张家界探访</p>
                </a>
            </li>
            <li>
                <a href="/views/historyArticles/2015_08_heLongXian.html">
                    <img src="/assets/imgs/service_2015_08.jpg" alt="">
                    <p class="desc">2015年8月桑植县贺龙中学探访</p>
                </a>
            </li>
            <li>
                <a href="/views/historyArticles/2015_03_chaoTian.html">
                    <img src="/assets/imgs/service_2015_03.jpg" alt="">
                    <p class="desc">2015年3月张家界朝天山区三个村庄探访</p>
                </a>
            </li>
            <li>
                <a href="/views/historyArticles/2015_03_ziYanXian.html">
                    <img src="/assets/imgs/service_2015_0302.jpg" alt="">
                    <p class="desc">
                            2015年3月陕西紫阳县金盆村探访</p>
                </a>
            </li>
            <li>
                <a href="/views/historyArticles/2015_05_huNan.html">
                    <img src="/assets/imgs/service_2015_05.jpg" alt="">
                    <p class="desc">2015年5月湖南家界探访</p>
                </a>
            </li>
            <li>
                <a href="/views/historyArticles/2012_09_huanGu.html">
                    <img src="/assets/imgs/service_2012_09.jpg" alt="">
                    <p class="desc">
                            2012年9月陕西省焕古教育资助仪式</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<link rel="import" href="/views/common/footer.html?__inline">