<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/joinUs.css">
    <div class="rd-bg" style="background: url('/assets/imgs/joinUs.jpg') no-repeat center center;"></div>
    <!-- 加入我们 -->
    <div class="concat-box container">
        <div class="heading clearFloat">
            <h3>联系方式</h3>
            <span>
                <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </span>
        </div>
        <div class="concat-items clearFloat">
            <div class="item">
                <i class="icon icon-phone"></i>
                <span>电话</span>
                <p>020-89856673</p>
            </div>
            <div class="item">
                <i class="icon icon-email"></i>
                <span>邮箱</span>
                <p>marketing@linghit.com</p>
            </div>
            <div class="item">
                <i class="icon icon-address"></i>
                <span>地址</span>
                <p>广州市天河区黄埔大道中<br/>羊城创意产业园3-08</p>
            </div>
        </div>
    </div>
<link rel="import" href="/views/common/footer.html?__inline">