/* 基金会介绍 */
.foundation-direct .intro-box {
  width: 1000px;
  margin-top: 36px;
  box-sizing: border-box; 
  text-align: left;
  padding: 0  138px 60px;
  background-color: #fff;
  margin-bottom: 42px;
}
/* .foundation-direct .intro-box  .quote {
  vertical-align: middle;
  font-size: 54px;
  color: #0e6497;
  opacity: 0.4;
} */
.foundation-direct .intro-box .quot{
  width:28px;
  height: 22px;
  overflow: hidden;
  background: red;
}
.foundation-direct .intro-box .quot-left{
  background: url("/static/asset/image/quot_left.png") no-repeat center center;
}
.foundation-direct .intro-box .quot-right{
  background: url("/static/asset/image/quot_right.png") no-repeat center center;
}
.foundation-direct .intro-box h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #0e6497;
  line-height: 20px;
  padding: 50px 0 20px 0 ;
}
.foundation-direct .intro-box p {
  line-height: 36px;
  word-break: break-all;
}
.foundation-direct .intro-box .txt {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}
.foundation-direct .intro-box span {
  display: inline-block;
  color: #333333;
  margin-top: 20px;
  font-weight: 700;
}

/* 基金会理事 */
#director .bg img{
  width: 100%;
  height: auto;
}
/* #director .main{
  background: #999;
} */
#director .main {
  margin-bottom: 100px;
}
#director .main .brief{
  width:1000px;
  height: 124px;
  background: #fff;
  padding: 60px 0;
  margin-top: 46px;
}
#director .main .brief .inner{
  display: table;
  width: 880px;
  margin: 0 auto;
  /* position: relative; */background: url("/assets/imgs/direct_border.png") no-repeat center center;
}
#director .main .brief p{
  width: 790px;
  height: 124px;
  margin: 0 auto;
  font-size: 14px;
  color: #0E6497;
  line-height: 30px;
  padding: 0 45px;
  /* border: 1px solid #0E6497; */
  display: table-cell;
  vertical-align: middle;
  /* border-radius: -20px; */
  /* background: red; */
}
#director .main .title{
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #15adde;
  margin-bottom: 80px;
  padding-top: 20px;
}
#director .main dl{
  width: 880px;
  margin: 0 auto;
  margin-top: 46px;
  background: #fff;
  padding: 0 60px;
  padding-bottom: 70px;
}
#director .main .name{
  display: block;
  float: left;
  height: 41px;
  border-bottom: 3px solid #0e6497;
  font-size: 20px;
  color: #0e6497;
}
#director .main .icon{
  float: right;
  margin-top: 4px;
}
#director .main .icon li{
  width: 24px;
  height: 2px;
  margin-top: 6px;
  background: #0e6497;
}
#director dl .intro .left{
  float: left;
}
#director dl .intro .right{
  float: right;
}
#director dl .intro:after{
  content:'.';
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
#director dl .intro .avatar{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 1px solid #0e6497;
}
#director dl .avatar img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 10px;
}
#director dl .intro .detail{
  width: 610px;
  font-size: 15px;
  color: #666;
  line-height: 24px;
  height: 200px;
  display: table;
  overflow: hidden;
}
#director dl .intro .detail h4{
  width: 100%;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  width: 300px;
  background: red;
}
#director dl .intro .inner{
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  line-height: 28px;
}
#director dl .intro .inner p{
  font-size: 18px;
  line-height: 32px;
  color: #3f3f3f;
  font-weight: bold;
}
#director dl .intro .inner .txt-right{
  text-align: right;
}
#director dl .intro .inner .txt-left{
  text-align: left;
}
#director dl .line{
  width: 680px;
  margin: 0 auto;
  border-bottom: 1px dashed #0e6497;
}
#director dl .adjectiveLeft{
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  padding-top: 57px; /*important*/
  margin-bottom: 57px; /*important*/
}
#director dl .adjectiveRight{
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  padding-top: 57px; 
  margin-bottom: 57px; 
}

/* 组织架构 */
.organization-img {
    width: 1000px;
    height: auto;
    background: #fff;
    margin-top: 46px;
    overflow: hidden;
  }
  .organization-img img {
    display: block;
    /* width: 800px; */
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
  }