<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/historyArticles.css">
<!-- 相关资讯 -->
<div class="rd-main concat-box container">
    <div class="heading clearFloat">
        <h3>相关资讯</h3>
        <span>
            <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </span>
    </div>
    <article class="related-content">
        <div class="article-desc">
            <h3>2014年10月陕西紫阳县城关镇和平小学与焕古镇探访</h3>
            <div class="date">
                <span>2014-10-08</span>
            </div>
        </div>
        <div class="article-detail">
                <img src="/assets/imgs/zhangjiajie.jpg" alt="zhangjiajie">
                <p class="text">2014年10月陕西紫阳县城关镇和平小学与焕古镇探访，关爱小学生的学习和生活！</p>
        </div>
        
    </article>
</div>
<link rel="import" href="/views/common/footer.html?__inline">