<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/historyArticles.css">
<!-- 相关资讯 -->
<div class="rd-main concat-box container">
    <div class="heading clearFloat">
        <h3>相关资讯</h3>
        <span>
            <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </span>
    </div>
    <article class="related-content">
        <div class="article-desc">
            <h3>2015年8月桑植县贺龙中学探访</h3>
            <div class="date">
                <span>2015-08-12</span>
            </div>
        </div>
        <div class="article-detail">
            <img src="/assets/imgs/zhangjiajie.jpg" alt="test">
            <p class="text">英飞尼迪慈善基金与湖南省桑植县贺龙中学涂老师扶持学生继续努力学习。这中学是根据贺龙元帅嘱托，于1958年创办的一所农村完全中学。1986年3月，经湖南省人民政府批准并命名为“贺龙中学”。</p>
            <p class="text">湖南省桑植县属于山地地形，平均海拔500米以上，相对高差200米以上。高山路远，交通不便严重影响着桑植县偏远山区的经济发展，迄今为止，仍然有没通公路，没通水电的村落。贺龙中学作为地地道道的农村完全中学，生源绝大部分都是农村里来的孩子。这些孩子家庭条件艰苦，对于大部分家庭来说能尽全力克服困难送孩子上学，但是个别家庭因为种种原因，实在无法承担孩子高中的所有学杂费用。因为高中不在国家九年义务教育范畴之类，费用相对于小学初中高出很多，即使学校给予最大限度的费用减免，但对于家庭贫困的深山学子和他们的家庭来说仍然是压在他们肩头的大山，远远超出了他们的承受能力。</p>
            <p class="text">眼看学生生活困难，面临失学的现状，学校的老师们十分焦急，在班主任涂国雄老师的引领下，他们利用业余时间，长途跋涉，舟车劳顿，翻山越岭走访家庭困难学生了解情况，经过核实，挑选出几个品格优秀、学习欲望强烈、学习成绩出色、家庭特别困难的学生，希望能得到社会各界爱心人士，慈善机构或者教育基金的帮助。</p>
            <p class="text">对于偏远山区的孩子来说，考上大学是他们渴望的实现梦想的最佳出路。他们渴望着知识能带领他们走出大山，看见更为广阔的世界。但家庭的贫困像一座无法逾越的大山横膈在他们追寻知识的道路上，他们迫切的需要有人能扶他们一把。</p>
            <p class="text">朋友们，伸出您的援手，将会给孩子们因贫困而摇摇欲坠的家庭带来希望；将会使那一双双求学似渴的而又焦虑的眼神变得明朗；将会带给这些面临学业终止的孩子们给予莫大的安慰和勇气。朋友们，您的援助之手将会拖起孩子们的美丽梦想，孩子们的明天就是我们祖国的未来，孩子的梦想便是中国的梦！愿孩子们能无负担的遨游在知识的海洋！愿他们在将来为社会贡献出自己的力量！</p>
        </div>
    </article>
</div>
<link rel="import" href="/views/common/footer.html?__inline">