<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/historyArticles.css">
<!-- 相关资讯 -->
<div class="rd-main concat-box container">
    <div class="heading clearFloat">
        <h3>相关资讯</h3>
        <span>
            <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </span>
    </div>
    <article class="related-content">
        <div class="article-desc">
            <h3>2015年3月陕西紫阳县金盆村探访</h3>
            <div class="date">
                <span>2015-03-23</span>
            </div>
        </div>
        <div class="article-detail">
            <img src="/assets/imgs/zhangjiajie.jpg" alt="zhangjiajie">
            <p class="text">基金会义工为陕西省紫阳县金盆村63名学生资助款发放顺利完成。</p>
        </div>
    </article>
</div>
<link rel="import" href="/views/common/footer.html?__inline">