<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/historyArticles.css">
<!-- 相关资讯 -->
<div class="rd-main concat-box container">
    <div class="heading clearFloat">
        <h3>相关资讯</h3>
        <span>
            <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </span>
    </div>
    <article class="related-content">
        <div class="article-desc">
            <h3>
                    2015年3月张家界朝天山区三个村庄探访</h3>
            <div class="date">
                <span>2015-03-30</span>
            </div>
        </div>
        <div class="article-detail">
                <img src="/assets/imgs/zhangjiajie.jpg" alt="zhangjiajie">
                <p class="text">基金会于3月27-28日探访湖南张家界朝天山区三个村庄，途中还增加了两名极需要帮助的小孩，我们义工们都为你们山区小孩打气！加油！</p>
        </div>
        
    </article>
</div>
<link rel="import" href="/views/common/footer.html?__inline">