<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/historyArticles.css">
<!-- 相关资讯 -->
<div class="rd-main concat-box container">
    <div class="heading clearFloat">
        <h3>相关资讯</h3>
        <span>
            <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </span>
    </div>
    <article class="related-content">
        <div class="article-desc">
            <h3>2015年5月湖南家界探访</h3>
            <div class="date">
                <span>2015-05-24</span>
            </div>
        </div>
        <div class="article-detail">
            <img src="/assets/imgs/zhangjiajie.jpg" alt="zhangjiajie">
            <p class="text">英飞尼迪慈善基金再去探访张家界山区小孩，提供给小孩在暑假前的一份心意，願你们努力学习</p>
        </div>
    </article>
</div>
<link rel="import" href="/views/common/footer.html?__inline">