<link rel="import" href="/views/common/header.html?__inline">
<link rel="stylesheet" href="/assets/css/historyArticles.css">
<!-- 相关资讯 -->
<div class="concat-box container">
    <div class="heading clearFloat">
        <h3>相关资讯</h3>
        <span>
            <ul class="icon">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </span>
    </div>
    <article class="related-content">
        <div class="article-desc">
            <h3>2016年1月湖南张家界探访</h3>
            <div class="date">
                <span>2016-01-23</span>
            </div>
        </div>
        <div class="article-detail">
            <img src="/assets/imgs/zhangjiajie.jpg" alt="zhangjiajie">
                <p>一众义工在严寒的一月给湖南张家界山区的小孩送上温暖的毛毯和慰问。</p>
                <p>2016年1月一众义工把毛毯和学费补贴送给47个学生。他们分别住在七个村里，部分学生已经认得这几个热心义工，一见面就问候，拥抱及谈到近况，很可爱很乖的学生，想去湖南师范大学毕业后回母校教地理。</p>
        </div>
    </article>
</div>
<link rel="import" href="/views/common/footer.html?__inline">